/**
* @descrption CSS File for the entire project - 2022/03 
* @ChangeLog
*   2022/03/04 - Vinícius Lessa - Primeiras mudanças, e criação das próprias classes.
*/

/* ################################ Default
*/

/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

footer{
  width: 100%;
  bottom: 0;
  left: 0;
} */


/* ################################ Forms
*/

.form-cadastro {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* ################################ Colors
*/

.bk-preto {
  background-color: #0d1011;
}

.bk-left {
  background-color: #272829;
}

.btn-danger {
  background-color: #af0b0b;
}

/*Fonte color*/
.text-white {
  color: #ffffff;
}

.text-red {
  color: #af0b0b;
}