/**
* @descrption CSS File for the entire project - 2022/03 
* @ChangeLog
*   04/03/2022 - Vinícius Lessa - Primeiras mudanças, e criação das próprias classes.
*   15/03/2022 - Vinícius Lessa - Ajustes referentes ao Formulário defaut.
*   16/04/2022 - Vinícius Lessa - Criação de classes diversas para mostrar imagem no estilo OLX. Mudança de cor de HOVER do menu.
*   27/04/2022 - Vinícius Lessa - Importação de fontes do Google. Mudanças Media Query.
*/


/* Tablet em retrato a paisagem e desktop */
/* @media (min-width: 1200px) { */
/* @media (min-width: 576px) { */
/*RESPONSIVIDADES DESKTOP/MOBILE 11-04-22*/

/* GOOGLE FONTS - Imports */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap'); /* Mukta */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap'); /* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Bebas Neue */


/* ################################ Media Query
*/

/* Desktop */
@media (max-width: 2560px) {
  .chat_panel {
    height: 650px;
  } 

  #tradepost-img-container{height: 500px;}
  #profileTP-img-container{height: 210px;}
}

/* Mobile */
@media (max-width: 1010px) {
  .chat_panel {
    height: 1300px;
  }  

  #tradepost-img-container{height: 300px;}
  #profileTP-img-container{height: 210px;}
  .zeroMargin-Padding-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
  }

  .text-center-mobile {
    text-align: center !important;
  }
}


/* ################################ Default Elements
*/

html, body {
  margin: 0;
  padding: 0;
  /* min-height: 1080px; */
}

footer{
  position: relative !important;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* ################################ Buttons
*/

.btn-default {
  color: #fff;
  background-color: #dc1919;
  border: 0px;
}

.btn-default:hover {  
  color: rgb(0, 0, 0);
}

.btn-send {
  color: #fff;
  background-color: #0b6372;
  border: 0px;
}

.btn-send:hover {
  background-color: #2e8fa0;
}

.btn-navbar{
  color: white !important;  
  padding: 2px !important;
}

.dropdown-toggle {
  color: white !important;
  padding: auto !important;  
  align-items: center !important;
}

.dropdown-toggle:hover {
  background-color: #ec3232d7 !important;
  border-radius: 15px !important;
}

.btn-navbar:hover {
  background-color: #ec3232d7 !important;
  border-radius: 15px !important;
}

.btn-signUp {
  color: white;
  background-color: rgb(226, 39, 39);
  border-radius: 15px;
  height: 50px;
  padding: 0px;
  vertical-align: middle;
  align-items: center;  
}

.btn-signUp:hover {
  background-color: #f70000d7;
  border-radius: 15px;  
}

/* User Profile */
.default-tabs {
  color: white !important; 
  border: 0px !important;
}

.default-tabs:hover {  
  color: #ea4646 !important;
}.nav-tabs

.default-tabs.active:hover {  
  color: white !important;
}.nav-tabs

.default-tabs.active{  
  background-color: #ed3737 !important;  
}.nav-tabs

.profileImage-label {  
  width: 30px;
  height: 27px; 
  cursor: pointer;
}


/* ################################ Forms
*/

.form-default {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

form div {
  margin: 10px 0 20px 0;
}

/* ################################ Colors
*/

.fundohome  {
  background-color: #70707010;
}

.bk-black {
  /* background-color: #0d1011; */
  background-image: linear-gradient(#1c1c1d, #0d1011);
  background-attachment: fixed;
}

.bk-gray {
  background-color: #1C2124;  
}

.bk-lightgray {
  background-color: #5e5f60;  
}

.bk-red {
  background-color: #af0b0b;
}

.bk-white {
  background-color: #edebeb;
}

.bk-yellow {
  background-color: #ccd304;
}

.bk-orange {
  background-color: #eb8d0b;
}

.bk-blue {
  background-color: #177bd9;
}

.bk-purple {
  background-color: #6f1fc0;
}

.bk-green {
  background-color: #29c418;
}

.bk-chat {
  background-color: #111415;  
}


/* ################################ Fonts
*/

/* .font-main  {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family:'Helvetica', sans-serif;
}

.title-default{
  font-family: 'Oswald', sans-serif;
}

.message-default{  
  font-family: 'Mukta', sans-serif;
} */

.size-12 {font-size:12px;}
.size-14 {font-size:14px;}
.size-16 {font-size:16px;}
.size-18 {font-size:18px;}

/* Font Color */

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000;
}

.text-red {
  color: #d21b1b;
}

.text-lightred {
  color: #f64141;
}

.text-blue-link {
  color: #1cb7e6;
}

.text-lightgray {
  color: #d3d1d1;
}

.text-gray {
  color: #868484;
}

.stroke-one {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #434344;
}

/*remover sublinhado*/
a.link-none:link {
  text-decoration: none;
}

.linkdefault {
  text-decoration: none;
  color: white;
}
.linkdefault:hover {
  text-decoration: none;
  color: #eb3535;
}


/* ################################ SignIn - SignUp
*/ 
.body-login {
  height: 100vh;
  width: 100%;
}

.banner-login {
  background-color: var(--primary);
  background: url("../images/IMAGENS/IMAGEMDELOGIN.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ################################ User Profile
*/

.tp-card {
  background-color: rgb(43, 49, 50) ;
  border-right-style: solid;
  border-width: 8px;
  border-color: #eb3535;  
}

/* ################################ Images */

.image {  
  right: 50%;
  bottom: 50%;  
  user-select: none;
  object-fit: contain;
  max-height: 402px;
  width: 100%;
}

.image_container {  
  padding-bottom: 75%;
  position: relative;
  width: 100%;
  overflow: hidden;  
  background-color: #1c212489;
}

.image_default {
  height: 100%;
  position: absolute;
}


/* Vinícius - 26/04/2022 */

.image-container-new {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #85858597;  
}

.img-default-content {
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
}

.img_tp_background  {
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: cover;  
  filter: blur(2px) brightness(0.4);
  /* background-color: #59595ab6; */
}

.img_tp {
  vertical-align: middle;
  text-align: center;
  z-index: 9;
}

.testtwo{
  max-width: 100%;
  height: 100%;
  filter: contrast(110%) brightness(1.2);
}


/* ################################ JavaScript
*/

#nameAlert, #emailAlert, #passwordAlert, #personTypeAlert {
  display: none;
  margin-left: 5px;
}


/* ################################ Visual Effects
*/

/* Generic Loader */
.spinner-wrapper{
  /* display: flex; - Ativado via Js*/
  display: none;
  width: 100%;
  height: 100%;
  background-color: #1515158a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.spinner {  
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(90deg, #e12121 0%,#481919 100% );
  animation: spin .5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

/* Chat Box - https://loading.io/css/ */
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ################################ Music Trade Center
*/

/* .zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
} */

/* OOOORRR */

/* .zoom {
  position: relative;
  border: 10px solid rgb(51, 255, 0);
  overflow: hidden;
  width: 400px;
  margin: 100px;
}
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.zoom:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} */

/* ################################ Chats
*/

.scrollbar {  
  scrollbar-color: #8f8f8f #1C2124;    
  overflow-y: scroll;
}

.reverse-vertical-direction {
  flex-direction: column-reverse;
}

.reverse-horizontal-direction {
  flex-direction: row-reverse;  
}

.msg-width {
  max-width: 60%;  
}

.msg-user {  
  background-color: #542020;
}

.hr-default {
  background-color: rgb(118, 115, 115);  
}

.chat-topic {
  height: 18%;
}

.chat-box {
  height: 76%;
  margin-top: 20px;
}

/* ################################ QUEM SOMOS
*/

.showcase{
  /* width: 100%; */
  /* height: 100vh; */
  position: relative;
}

.showcase video{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.title{
  width: 100%;
  /* height: 100%; */
  background-color: rgb(0, 0, 0);
  font-size: 100px;
  color: #fff;
  mix-blend-mode: multiply;
}

@media (max-width: 576px) {

.showcase{
  /* width: 100%; */
  /* height: 28vh; */
  position: relative;
}

.showcase video{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.title{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
  color: #fff;
  mix-blend-mode: multiply;
}
}